<div class="login-card-container">
  <div class="login-form-container">
    <div class="login-container-overlay"></div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h1>TravelFlow</h1>
      <p class="slogan">where the journey begins</p>

      <h2>Login</h2>

      <div class="form-group">
        <input type="text" id="username" formControlName="username" class="form-control" required>
        <label for="username">Username</label>

      </div>

      <div class="form-group">
        <input type="password" id="password" formControlName="password" class="form-control" required>
        <label for="password">Password</label>
      </div>

      <button type="submit" class="btn btn-primary login-btn" [ngClass]="{ 'disabled': logginIn }">
        {{logginIn ? "Logging in..." : "Login"}}
      </button>
    </form>
    <!-- 
    <div class="or-separator-container">
      <span></span> <p>or</p> <span></span>
    </div>

    <button type="submit" class="btn btn-secondary new-account-btn">Create new account</button> -->

  </div>
</div>