<div class="user-modal-container">
  <h1>{{title}}</h1>

  <form [formGroup]="userForm" class="user-modal-form" (ngSubmit)="onSubmit()">
    <div class="user-modal-fields">
      <div class="form-group">
        <input formControlName="username" type="text" id="username" required autocomplete="username">
        <label for="username" [ngClass]="{'shrinked-label' : userForm.value.username}">Username</label>
      </div>

      <div class="form-group">
        <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" id="password"
          [placeholder]="user ? 'Replace old password...' : ''" autocomplete="current-password" class="password-field">
        <button class="btn show-password-btn" type="button" (click)="togglePasswordVisibility()"><i class="icon eye-icon" [ngClass]="{'visible' : passwordVisible}"></i></button>
        <label for="password" [ngClass]="{'shrinked-label' : user || userForm.value.password}">Password</label>
      </div>

      <div class="form-group">
        <input formControlName="firstName" type="text" id="firstName" required>
        <label for="firstName" [ngClass]="{'shrinked-label' : userForm.value.firstName}">First Name</label>
      </div>

      <div class="form-group">
        <input formControlName="lastName" type="text" id="lastName" required>
        <label for="lastName" [ngClass]="{'shrinked-label' : userForm.value.lastName}">Last Name</label>
      </div>

      <div class="form-group">
        <input formControlName="middleName" type="text" id="middleName">
        <label for="middleName" [ngClass]="{'shrinked-label' : userForm.value.middleName}">Middle Name</label>
      </div>


      <div class="dropdown-form-group">
        <select formControlName="gender" id="gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <label for="gender" [ngClass]="{'shrinked-label' : userForm.value.gender}">Gender</label>
      </div>

      <div class="dropdown-form-group">
        <select formControlName="userType" id="userType" required>
          <option value="admin">Admin</option>
          <option value="employee">Employee</option>
          <option value="owner">Owner</option>
        </select>
        <label for="userType" [ngClass]="{'shrinked-label' : userForm.value.userType}">User Type</label>
      </div>

      <div class="tgl-form-group" (click)="userForm.controls['isActive'].setValue(! userForm.value.isActive)">
        <input formControlName="isActive" class="tgl tgl-ios" type="checkbox" id="isActive">
        <span class="tgl-dot"></span>
        <label for="isActive" class="tgl-btn">Active</label>
      </div>

      <div class="action-btns-container">
        <div class="action-btns">
          <button class="btn btn-secondary btn-confirm" type="button" (click)="cancel()"><i
              class="icon ex-icon"></i></button>

          <button class="btn btn-primary btn-confirm" type="submit" [disabled]="!userForm.valid"
            (click)="onSubmit()">Confirm</button>

        </div>
      </div>
    </div>
  </form>
</div>