@import "presets";

.user-modal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  padding: 15px;
  max-height: calc(100vh - 40px);
  margin: 10px 0px 0px 30px;
  overflow: auto;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
}

.user-modal-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  width: 250px;
  gap: 5px;
}

.action-btns-container {
  margin-top: 20px
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 18px;

  width: 100%;
  
  .btn {
    height: 20px;
  }

  .btn-primary {
    flex-grow: 1;
  }

  .btn-secondary {
    width: 20px;
    @extend .center;
  }

  i {
    height: 15px;
    width: 15px;
    background-color: white;
  }
}
