@import "presets";
@import "variables";

$table-background-color: #18283b;
$navbar-dark-primary: #18283b;
$navbar-dark-secondary: #2c3e50;

$delete-icon-color: red;
$add-icon-color: green;
$edit-icon-color: cyan;
$disable-icon-color: #ffbf00;

$filter-bar-height: 40px;

.users-table-container {
  padding: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}