<div class="app-data-modal-container">
    <h1>{{title}}</h1>

    <form [formGroup]="form" class="app-data-modal-form">
        <div class="app-data-modal-fields">

            <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('name')}">
                <input formControlName="name" type="text" id="name">
                <label for="name" [ngClass]="{'shrinked-label' : form.value.name}">Name</label>

                <div class="error-messages-container">
                    <div class="error-message" *ngIf="shouldDisplayErrorMessage('name', 'required')">
                        * City name is required
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('gmtOffset')}">
                <input formControlName="gmtOffset" type="number" id="gmtOffset" min="-12" max="12">
                <label for="gmtOffset" [ngClass]="{'shrinked-label' : form.value.gmtOffset || form.value.gmtOffset === 0}">GMT Offset</label>

                <div class="error-messages-container" *ngIf="shouldDisplayErrorContainer('gmtOffset')">
                    <div class="error-message">
                        * Invalid GMT Offset
                    </div>
                </div>
            </div>

            <div class="action-btns-container">
                <div class="action-btns">
                    <button class="btn btn-secondary btn-confirm" type="button" (click)="cancel()"><i
                            class="icon ex-icon"></i></button>

                    <button class="btn btn-primary btn-confirm" type="submit" (click)="onSubmit()">Confirm</button>

                </div>
            </div>
        </div>
    </form>
</div>