.main-menu-container {
    position: relative;

    .main-menu-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .main-menu-content-container {
        position: absolute;
        left: 78px; // sidebar width when collapsed
        top: 0;
        bottom: 0;
    }
}