<div class="data-table-container">
    <div class="filter-bar-container" [ngStyle]="{'display' : hideSearchBar ? 'none' : 'block'}">
        <div class="filter-bar">
            <form (ngSubmit)="search(searchQuery)" class="search-input-container">
                <input class="search-input" type="text" placeholder="Search..." [(ngModel)]="searchQuery"
                    [ngModelOptions]="{standalone: true}">
                <button class="btn btn-icon search-btn" type="submit">
                    <i class="icon magnifying-glass-icon"></i>
                </button>
            </form>

            <div class="separator"></div>

            <div class="pagination-container">
                <button class="btn prev-page-btn" [disabled]="currentPage === 1"
                    (click)="onPageNumberChange(currentPage - 1)">
                    <i class="icon triangle-caret-icon"></i>
                </button>

                <div class="pagination-status-container">
                    <input (keydown.enter)="onPageNumberChange(currentPage)" type="number" [(ngModel)]="currentPage"
                        [max]="maxPages" min="1">
                    <span> / </span>
                    <span>{{maxPages}}</span>
                </div>

                <button class="btn next-page-btn" [disabled]="currentPage === maxPages"
                    (click)="onPageNumberChange(currentPage + 1)">
                    <i class="icon triangle-caret-icon"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- LOADER ROW -->
    <div class="loading-container" *ngIf="loading">
        <div class="loader"></div>
    </div>
    <!-- ADD ROW -->
    <div class="add-item-container">
        <button class="btn add-user-btn" (click)="add()"><i class="icon plus-icon"></i><span>Add Item</span></button>
    </div>

    <table>
        <thead>
            <tr>
                <th *ngFor="let header of headers" scope="col">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of data; index as i" (mousedown)="setSelectedValue($event, value)"
                [ngClass]="{'selected' : selectedValue === value}">
                <td *ngFor="let header of headers; index as j" [attr.data-label]="header">{{cellValueFn(header, value)
                    ??
                    '--'}}
                </td>

        </tbody>
    </table>

    <div class="popup-actions" #popupActions [ngClass]="{'hidden' : selectedValue === undefined}">
        <div class="actions-container">
            <!-- <button class="add" (click)="add(selectedValue)"><i class="icon plus-icon"></i></button> -->
            <button [disabled]="selectedValue === undefined" class="edit" (click)="edit(selectedValue)"><i
                    class="icon edit-icon"></i></button>
            <button [disabled]="selectedValue === undefined" class="delete" (click)="delete(selectedValue)"><i
                    class="icon ex-icon"></i></button>
        </div>
    </div>

    
    <!-- NO DATA ROW -->
    <div class="no-data-container" *ngIf="data.length === 0">
        <p>No items to show</p>
    </div>
</div>