@import "presets";
@import "variables";

$table-background-color: #18283b;
$navbar-dark-primary: #18283b;
$navbar-dark-secondary: #2c3e50;

$delete-icon-color: red;
$add-icon-color: green;
$edit-icon-color: cyan;
$disable-icon-color: #ffbf00;

$filter-bar-height: 40px;

.data-table-container {
  max-width: 900px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  .btn {
    padding: 0px;
    border: none;
    height: 20px;
    width: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    @extend .center;

    &:hover:not(:disabled) {
      background-color: lighten($dark-primary, 20%);
    }

    &:disabled {
      i {
        background-color: grey;
      }
    }

    &.next-page-btn {
      i {
        transform: rotate(90deg);
        margin-right: 2px;
        margin-bottom: 1px;
      }
    }

    &.prev-page-btn {
      i {
        margin-left: 3px;
        transform: rotate(-90deg);
      }
    }

    i {
      background-color: white;
      height: 10px;
      width: 10px;
    }
  }

  .pagination-status-container {
    display: flex;
    align-items: center;
    gap: 9px;

    input[type="number"] {
      max-height: 35px !important;
      max-width: 35px;
      padding: 5px;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;

      border: 1px solid grey;
      border-radius: 4px;
      outline: none;

      &[disabled] {
        opacity: 0.5;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    span {
      font-weight: bold;
    }
  }
}

.loading-container {
  @extend .center;
}

.add-item-container {
  margin: 10px; 
  width: 100%;
  @extend .center;
  
  button.add-user-btn {
    @extend .center;
    gap: 10px;

    i.icon {
      height: 12px;
      width: 12px;
      background-color: white;
    }

    &:hover {
      scale: 1.1;
      span {
        color: darken($on-dark-color, 10%);
      }
    }
  }
}

.popup-actions {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $table-background-color;

  &.hidden {
    display: none;
  }

  .actions-container {
    display: flex;
    gap: 12px;
    padding: 3px 6px;
    button {
      i {
        height: 20px;
        width: 20px;
        background-color: white;

        &.ex-icon {
          height: 18px;
          width: 18px;
        }
      }

      &:hover:not(:disabled) {
        i {
          scale: 1.2;
          transform: translateY(-2px);

          &.ex-icon {
            background-color: $delete-icon-color;
          }

          &.edit-icon {
            background-color: $edit-icon-color;
          }

          &.plus-icon {
            background-color: $add-icon-color;
          }
          &.lock-icon {
            background-color: $disable-icon-color;
          }
        }
      }

      &:disabled {
        i {
          background-color: rgba(140, 138, 138, 0.607);
          scale: 0.9;
        }
      }
    }
  }
}

.filter-bar-container {
  border: 1px solid white;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 6px;
  min-width: 350px;

  .filter-bar {
    display: flex;
    align-items: center;
    gap: 2%;
    max-height: $filter-bar-height;
    width: 100%;

    .search-input-container {
      @extend .center-vertical;

      position: relative;
      border-radius: 15px;
      flex-grow: 1;

      input {
        margin: 0;
        background-color: transparent;
        background-color: #5479a733;
        border-radius: 30px;
        color: white;
        min-height: 35px;

        &::placeholder {
          color: grey;
        }
      }

      .search-btn {
        margin: 6px;
        padding: 3px;
        
        i {
          height: 15px;
          width: 15px;

        }

        &:hover {
            scale: 1.2;

        }
      }
    }

    .separator {
      height: 30px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.645);
    }
  }
}

.no-data-container {
  margin-top: 20px;

  p {
    font-size: 1.4rem;
    text-align: center;
  }
}

table {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 15px;
  border-collapse: separate;
  background-color: $table-background-color;

  tbody tr {
    transition: 200ms;

    &:hover {
      background-color: #e19a583b;
    }

    &.selected {
      background-color: #58d3e13b;
      color: white;
    }
  }

  thead {
    border-bottom: 1px solid white !important;
    border-collapse: separate;
    color: white;
    font-size: 1.05rem;
    tr {
      outline: white solid 1px;
      border-radius: 15px 15px 0px 0px;
    }
  }

  th,
  td {
    padding: 0.625em;
    text-align: center;
  }

  th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 650px) {
  .filter-bar-container {
    min-width: 250px;
    border: none;

    .filter-bar {
      flex-direction: column-reverse;
      max-height: fit-content;
      gap: 15px;

      .separator {
        width: 90%;
        height: 1px;
      }
    }
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-radius: 15px;
    border: 1px solid #ffffff65;
    border-bottom: 5px double #ffffff65;
    display: block;
    padding-bottom: 2px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
