<div class="countries-container">
    <h2>Countries</h2>

    <!-- Country actions -->
    <div class="actions-container input-like">
        <div class="actions">
            <button class="btn btn-icon" (click)="openAddCountry()"><i class="icon plus-icon"></i></button>
            <button class="btn btn-icon" [disabled]="_selectedCountry === undefined"
                (click)="editCountry(_selectedCountry)"><i class="icon edit-icon"></i></button>
            <button class="btn btn-icon" [disabled]="_selectedCountry === undefined"
                (click)="deleteCountry(_selectedCountry)"><i class="icon ex-icon"></i></button>
        </div>
    </div>

    <!-- Country dropdown -->
    <div class="dropdown-form-group">
        <select [(ngModel)]="_selectedCountry" (ngModelChange)="onSelectedCountryChanged()">
            <option *ngFor="let country of _countries" [ngValue]="country">{{country.name}}</option>
        </select>
        <label [ngClass]="{'shrinked-label' : _selectedCountry}" for="country">Country</label>
    </div>
</div>