<div class="app-data-modal-container">
    <h1>{{title}}</h1>
  
    <form [formGroup]="form" class="app-data-modal-form" (ngSubmit)="onSubmit()">
      <div class="app-data-modal-fields"> 

        <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('firstname')}">
          <input formControlName="firstname" type="text" id="firstname" required>
          <label for="firstname" [ngClass]="{'shrinked-label' : form.value.firstname}">First Name</label>
          <div class="error-messages-container">
            <div class="error-message" *ngIf="shouldDisplayErrorMessage('firstname', 'required')">
              * First name is required
            </div>
          </div>
        </div>
        
        <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('lastname')}">
          <input formControlName="lastname" type="text" id="lastname" required>
          <label for="lastname" [ngClass]="{'shrinked-label' : form.value.lastname}">Last Name</label>
          <div class="error-messages-container">
            <div class="error-message" *ngIf="shouldDisplayErrorMessage('lastname', 'required')">
              * Last name is required
            </div>
          </div>
        </div>
        
        <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('email')}">
          <input formControlName="email" type="email" id="email" required>
          <label for="email" [ngClass]="{'shrinked-label' : form.value.email}">Email</label>
          <div class="error-messages-container">
            <div class="error-message" *ngIf="shouldDisplayErrorMessage('email', 'required')">
              * Email is required
            </div>
            <div class="error-message" *ngIf="shouldDisplayErrorMessage('email', 'email')">
              * Email format is invalid
            </div>
          </div>
        </div>
        
        <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('phone1')}">
          <input formControlName="phone1" type="tel" id="phone1" required>
          <label for="phone1" [ngClass]="{'shrinked-label' : form.value.phone1}">Phone #1</label>
          <div class="error-messages-container">
            <div class="error-message" *ngIf="shouldDisplayErrorMessage('phone1', 'required')">
              * Phone #1 is required
            </div>
          </div>
        </div>
        
        <div class="form-group" [ngClass]="{'invalid' : shouldDisplayErrorContainer('gender')}">
          <select formControlName="gender" id="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <label for="gender" [ngClass]="{'shrinked-label' : form.value.gender}">Gender</label>
          <div class="error-messages-container">
            <div class="error-message" *ngIf="shouldDisplayErrorMessage('gender', 'required')">
              * Gender is required
            </div>
          </div>
        </div>
        
  
        <div class="action-btns-container">
          <div class="action-btns">
            <button class="btn btn-secondary btn-confirm" type="button" (click)="cancel()"><i
                class="icon ex-icon"></i></button>
  
            <button class="btn btn-primary btn-confirm" type="submit" [disabled]="!form.valid"
              (click)="onSubmit()">Confirm</button>
  
          </div>
        </div>
      </div>
    </form>
  </div>