<div class="component-container">
    <div class="title">
        <i class="icon admin-icon"></i>
        <h1>Users</h1>
    </div>
    <app-data-table
    [headers]="tableHeaders"
    [data]="users"
    [cellValueFn]="headerToValue"
    (onAdd)="openAddUser()"
    (onEdit)="openEditUser($event)"
    (onDelete)="openDeleteUser($event)"
    (onSearchInfoChange)="onSearchInfoChanged($event)"
    [loading]="loading"
    ></app-data-table>
    <!-- (onPageChange)="onPageNumberChanged($event)" -->

</div>