////////////
/// Text ///
////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

p,
div,
span {
  color: $on-dark-secondary-color;
}

////////////
/// Input //
/// ////////

$input-background-color: #252525be;
$input-background-color-autofilled: #202020;
// Used when the label should be top
.shrinked-label {
  font-size: 0.8rem;
  top: 0px;
  transition: 200ms;
}

.form-group {
  position: relative;
  transition: 500ms;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 0px 12px;
  margin: 10px 0px;
  background-color: $input-background-color;
  color: $on-dark-secondary-color;
  border: none;
  outline: none;
  transition: 500ms;

  ~ label {
    position: absolute;
    display: block;
    color: $on-dark-color;
    top: 20px;
    margin: 0px 10px;
    transition: 200ms;
    pointer-events: none;
  }

  &:focus,
  &:valid {
    ~ label {
      font-size: 0.8rem; // Manually applying .shrinked-label styles
      top: -8px; // Manually applying .shrinked-label styles
      transition: 200ms; // Manually applying .shrinked-label styles
    }
  }

  &:autofill,
  &:autofill:hover,
  &:autofill:focus {
    box-shadow: 0 0 0px 1000px $input-background-color-autofilled inset;
    -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofilled inset;
    color: $on-dark-secondary-color;
    -webkit-text-fill-color: $on-dark-secondary-color;
    caret-color: white;
  }

  &::placeholder {
    color: transparent;
  }
}

///////////////
/// Buttons ///
///////////////

$disabled-btn-color: #454140;

.btn {
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  transition: 200ms;
  text-align: center;

  &.btn-primary {
    background-color: $primary-color;

    &:not(.disabled) {
      &:hover {
        scale: 1.1;
      }

      &:active {
        background-color: rgb(254, 167, 123);
      }
    }

    &.disabled {
      background-color: $disabled-btn-color;
    }
  }

  &.btn-secondary {
    background-color: transparent;
    border: solid 1px $on-dark-color;
    padding: 6px;

    &:hover {
      background-color: #a3e7d833;
    }
  }
}

//////////////////
/// Scrollbars ///
//////////////////

$scrollbar-width: 8px;
$scrollbar-thumb-color: #888;
$scrollbar-track-color: transparent;

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  