$focus-border: 1px solid $on-dark-color;

////////////
/// Text ///
////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

p,
div,
span {
  color: $on-dark-secondary-color;
}

////////////
/// Input //
/// ////////

input:focus {
  border: $focus-border;
}

$input-background-color: #252525be;
$input-background-color-autofilled: #202020;
// Used when the label should be top
.shrinked-label {
  font-size: 0.8rem;
  top: -8px !important;
  transition: 200ms;
}

.form-group {
  position: relative;
  transition: 500ms;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 0px 12px;
  height: 35px;
  margin: 10px 0px;
  background-color: $input-background-color;
  color: $on-dark-secondary-color;
  // border: none;
  outline: none;
  transition: 500ms;

  ~ label {
    position: absolute;
    display: block;
    color: $on-dark-color;
    top: 20px;
    margin: 0px 10px;
    transition: 200ms;
    pointer-events: none;
  }

  &:focus {
    // &:valid {
    ~ label {
      font-size: 0.8rem; // Manually applying .shrinked-label styles
      top: -8px; // Manually applying .shrinked-label styles
      transition: 200ms; // Manually applying .shrinked-label styles
    }
  }

  &:autofill,
  &:autofill:hover,
  &:autofill:focus {
    box-shadow: 0 0 0px 1000px $input-background-color-autofilled inset;
    -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofilled inset;
    color: $on-dark-secondary-color;
    -webkit-text-fill-color: $on-dark-secondary-color;
    caret-color: white;
  }

  &::placeholder {
    color: rgba(125, 125, 125, 0.4);
  }
}

input[type="text"].password-field,
input[type="password"].password-field {
  padding-right: 40px;

  ~ button.btn-icon {
    position: absolute;
    right: 10px;
    top: 25%;
    border: none;

    i {
      margin-top: 5px;
    }

    &.visible {
      background-color: transparentize($on-dark-color, $amount: 0.7);
    }
  }
}
//////////////
/// Select ///
//////////////

.dropdown-form-group {
  position: relative;
  transition: 500ms;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 0px 12px;
  height: 35px;
  margin: 10px 0px;
  background-color: #252525be; /* $input-background-color */
  color: #ffffff; /* Assuming this is $on-dark-secondary-color */
  border: none;
  outline: none;
  transition: 500ms;
  // appearance: none; /* Remove default select arrow */
  // -webkit-appearance: none; /* For Safari */

  &:focus {
    border: $focus-border;
  }
}

// select::-ms-expand {
//   display: none; /* Hide the default arrow on IE and Edge */
// }

.form-group.dropdown::after {
  content: "\25BC"; /* Down arrow */
  position: absolute;
  right: 15px;
  top: calc(50% + 2px);
  pointer-events: none;
  font-size: 12px;
  color: $on-dark-color; /* Assuming this is $on-dark-color */
}

select ~ label {
  position: absolute;
  display: block;
  // color: #ffffff; /* Assuming this is $on-dark-color */
  color: $on-dark-color; /* Assuming this is $on-dark-color */
  top: 20px;
  margin: 0px 10px;
  transition: 200ms;
  pointer-events: none;
}

select:focus ~ label {
  font-size: 0.8rem;
  top: -8px;
  transition: 200ms;
}

select:focus {
  box-shadow: 0 0 0px 1000px #202020 inset; /* $input-background-color-autofilled */
  -webkit-box-shadow: 0 0 0px 1000px #202020 inset;
  color: #ffffff; /* Assuming this is $on-dark-secondary-color */
}

option {
  background-color: #252525be; /* $input-background-color */
  color: #ffffff; /* Assuming this is $on-dark-secondary-color */
}

option:hover {
  background-color: #333333;
}

//////////////
/// Toggle ///
//////////////

$toggle-container-height: 40px;

$toggle-width: 40px;
$toggle-height: 20px;

$toggle-active-background-color: darken($on-dark-color, 50%);
$toggle-active-color: lighten($toggle-active-background-color, 50%);
$toggle-inactive-background-color: grey;
$toggle-inactive-color: lighten(grey, 30%);

$toggle-left-distance: 10px;

.tgl-form-group {
  position: relative;
  min-height: $toggle-container-height;
  background-color: $input-background-color;

  input {
    position: absolute;
    top: 10px;
    right: $toggle-left-distance;
    margin: 0;
    height: $toggle-height;
    width: $toggle-width;

    background-color: $toggle-inactive-background-color;

    border: 2px solid $toggle-inactive-color;
    border-radius: 15px;

    transition: 500ms;

    ~ span.tgl-dot {
      display: block;
      position: absolute;
      pointer-events: none;

      width: 10px;
      height: 10px;
      right: calc($toggle-left-distance + 25px);
      top: 15px;

      border-radius: 50%;
      background-color: $toggle-inactive-color;
      transition: 500ms;
    }

    ~ label {
      position: absolute;
      font-size: 1.2rem;
      margin: 0 0 0 8px;
      top: 9px;
      left: 0px;
      transition: 200ms;
    }

    &:checked {
      background-color: $toggle-active-background-color;
      border: 2px solid $toggle-active-color;

      ~ span.tgl-dot {
        right: calc($toggle-left-distance + 5px);
        background-color: $toggle-active-color;
      }

      ~ label {
        color: $toggle-active-color;
      }
    }
  }
}

///////////////
/// Buttons ///
///////////////

$disabled-btn-color: #454140;

.btn {
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  transition: 200ms;
  text-align: center;

  &.btn-primary {
    background-color: $primary-color;

    &:not(.disabled) {
      &:hover {
        scale: 1.1;
      }

      &:active {
        background-color: rgb(254, 167, 123);
      }
    }

    &.disabled {
      background-color: $disabled-btn-color;
    }
  }

  &.btn-secondary {
    background-color: transparent;
    border: solid 1px $on-dark-color;
    padding: 6px;

    &:hover {
      background-color: #a3e7d833;
    }
  }

  &.btn-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 2px;
    @extend .center;

    i {
      height: 18px;
      width: 18px;
      background-color: white;
    }

    &:focus {
      border: 1px solid $on-dark-color !important;
    }

    &:hover {
      background-color: transparentize($on-dark-color, 0.9);
    }
  }
}

//////////////////
/// Scrollbars ///
//////////////////

$scrollbar-width: 8px;
$scrollbar-thumb-color: #888;
$scrollbar-track-color: transparent;

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/////////////////////////////
/// Data Table container ///
////////////////////////////

.data-table-container {
  padding: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;

  h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

////
/// App data modal
///

.app-data-modal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  padding: 15px;
  max-height: calc(100vh - 40px);
  margin: 10px 0px 0px 30px;
  overflow: auto;

  h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .app-data-modal-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 250px;
    gap: 5px;
  }

  .action-btns-container {
    margin-top: 20px;
  }

  .action-btns {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 18px;

    width: 100%;

    .btn {
      height: 20px;
    }

    .btn-primary {
      flex-grow: 1;
    }

    .btn-secondary {
      width: 20px;
      @extend .center;
    }

    i {
      height: 15px;
      width: 15px;
      background-color: white;
    }
  }
}
