.icon {
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  transition: 200ms;

  &.logout-icon {
    -webkit-mask-image: url("/assets/icons/logout.svg");
    mask-image: url("/assets/icons/logout.svg");
  }

  &.triangle-caret-icon {
    -webkit-mask-image: url("/assets/icons/caret.svg");
    mask-image: url("/assets/icons/caret.svg");
  }

  &.customer-icon {
    -webkit-mask-image: url("/assets/icons/customer.svg");
    mask-image: url("/assets/icons/customer.svg");
  }

  &.airplane-icon {
    -webkit-mask-image: url("/assets/icons/airplane.svg");
    mask-image: url("/assets/icons/airplane.svg");
  }

  &.agent-icon {
    -webkit-mask-image: url("/assets/icons/agent.svg");
    mask-image: url("/assets/icons/agent.svg");
  }

  &.admin-icon {
    -webkit-mask-image: url("/assets/icons/admin.svg");
    mask-image: url("/assets/icons/admin.svg");
  }

  &.magnifying-glass-icon {
    -webkit-mask-image: url("/assets/icons/magnifying-glass.svg");
    mask-image: url("/assets/icons/magnifying-glass.svg");
  }

  &.plus-icon {
    -webkit-mask-image: url("/assets/icons/plus.svg");
    mask-image: url("/assets/icons/plus.svg");
  }

  &.ex-icon {
    -webkit-mask-image: url("/assets/icons/x.svg");
    mask-image: url("/assets/icons/x.svg");    
  }

  &.edit-icon {
    -webkit-mask-image: url("/assets/icons/edit.svg");
    mask-image: url("/assets/icons/edit.svg");
  }

  &.lock-icon {
    -webkit-mask-image: url("/assets/icons/lock.svg");
    mask-image: url("/assets/icons/lock.svg");
  }

  &.eye-icon {
    -webkit-mask-image: url("/assets/icons/eye.svg");
    mask-image: url("/assets/icons/eye.svg");
  }
}
