$primary-color: #ff5e0e;
$secondary-color: #008575;
$primary-light-color: #A3E7D8;
$secondary-light-color: #CFC194;

$dark-primary: #041222;
$dark-secondary: #2c3e50;

$on-light-color: #695D47;
$on-dark-color: #A3E7D8;
$on-light-secondary-color: #7b6f59;
$on-dark-secondary-color: #b2b9b8;

$font-size-base: 16px;
$font-family: Arial, sans-serif;

$error-color: #be1c1c;

$focus-border: 1px solid $on-dark-color;
$error-border: 1px solid $error-color;

:root {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --primary-light-color: $primary-light-color;
  --secondary-light-color: $secondary-light-color;
  
  --on-light-color: $on-light-color;
  --on-dark-color: $on-dark-color;

  --font-size-base: $font-size-base;
  --font-family: $font-family;
}
